{
  "openapi": "3.0.3",
  "info": {
    "title": "The Marketplace directory — bitcoineconomy.ai",
    "description": "Read-only discovery API for services and tools an autonomous AI agent can pay for: inference, data, compute, machine work, verification, commerce, swaps, liquidity, payments, fiat ramps. START WITH /live/master.json — every service from all four sources in one row shape and one category vocabulary, each row stating its provenance and its payment rail. Fetch and filter locally — no auth, and no funds move through this API; the agent pays each provider directly over Lightning / L402 / Cashu, or through the l402.space gateway where a row says rail=\"via-gateway\". MCP-capable agents should use the richer Model Context Protocol server at https://marketplace.bitcoineconomy.ai/mcp instead (find_service, get_service, list_categories, get_quote, find_tool, get_tool, list_mcp_servers).",
    "version": "2.0.0",
    "contact": {
      "email": "hello@bitcoineconomy.ai",
      "url": "https://bitcoineconomy.ai"
    }
  },
  "servers": [
    {
      "url": "https://marketplace.bitcoineconomy.ai"
    }
  ],
  "paths": {
    "/live/master.json": {
      "get": {
        "operationId": "getMasterDirectory",
        "summary": "THE MASTERED DIRECTORY — every service, all sources, one schema",
        "description": "Every service an agent can pay for, merged from four sources into one row shape and one two-level category vocabulary. Each row carries: source (curated = editor-verified, the only rows a human checked | announced = permissionless Nostr self-listing | external-index = 402index.io's verified feed passed through with attribution | gateway-observed = seen settling through Alby's l402.space, figures from real payments rather than probes); category + subcategory plus the upstream's own source_category and our classification_confidence, so the mapping is checkable; rail (bitcoin-native = pay directly in sats | via-gateway = sats-payable only through links.gateway_url, an intermediary holding the sats leg | fiat-only = no Bitcoin path at all); and trust figures that always ship with their denominator and formula. A facets block gives every filter value with counts. Static fallback at https://marketplace.bitcoineconomy.ai/master.json.",
        "responses": {
          "200": {
            "description": "The mastered directory document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/directory.json": {
      "get": {
        "operationId": "getDirectory",
        "summary": "The curated registry of Bitcoin-payable services an agent buys",
        "description": "The full curated registry (21 entries across 9 categories: inference, compute, machine-work, verification, commerce, privacy, swap, liquidity, fiat-ramp). Each entry carries category, what_an_agent_buys, payment_methods, automatability (api-no-account | api-account | api-kyc), kyc, auth, api_base, pricing_url, quickstart, and mcp_endpoint where the provider runs its own MCP server. One fetch returns everything; filter locally.",
        "responses": {
          "200": {
            "description": "The curated registry document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/tools.json": {
      "get": {
        "operationId": "getToolCatalog",
        "summary": "The tool catalog — what an agent installs/runs to transact",
        "description": "The 27-tool catalog of equipment an agent EQUIPS (vs the registry of what it BUYS): wallets & treasuries, node toolkits, ecash software, bridges & swaps, and the protocol primitives (L402, NWC, BOLT12, LNURL, MCP). Each tool carries toolbox_group, tool_type, layer, prereq_tier, and links.",
        "responses": {
          "200": {
            "description": "The tool catalog document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/live/snapshot.json": {
      "get": {
        "operationId": "getLiveSnapshot",
        "summary": "Live Nostr-announced inventory (Routstr providers, ecash mints)",
        "description": "What announces itself on Nostr right now: Routstr kind-38421 inference providers, NIP-87 ecash mints, kind-38000 reviews. Each provider carries a probe status (alive | unreachable | unverified-tor-only | unroutable — filter status === \"alive\" unless you can reach Tor), latency_ms, model_count, and accepted mints. KV-backed, refreshed every 6h; static fallback at /snapshot.json.",
        "responses": {
          "200": {
            "description": "The live snapshot document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/live/models.json": {
      "get": {
        "operationId": "getPriceIndex",
        "summary": "Cross-provider inference price index (cheapest provider per model)",
        "description": "model id -> every alive provider serving it, cheapest first, in sats per token (+ max_cost per request, the budgeting ceiling). One fetch answers \"who serves model X cheapest right now\". Static fallback at /models.json.",
        "responses": {
          "200": {
            "description": "The price index document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/live/l402index.json": {
      "get": {
        "operationId": "getExternalIndex",
        "summary": "External-index source — a selective, attributed pass over 402index.io's verified feed",
        "description": "Payable endpoints beyond the curated registry, taken selectively from 402index.io (Ryan Gentry) — health-filtered, reliability-capped, per-host-capped, each with a source_page back to its 402index record. Spans all three protocols (L402 + x402 + MPP) since 2026-07-29: rows carry rail=\"bitcoin-native\" where an agent pays directly in sats, or rail=\"via-gateway\" with a ready-made gateway_url where the endpoint settles in USDC/Tempo and is sats-payable only through l402.space. provenance: external-index (third-party-indexed + verified, NOT a bitcoineconomy.ai endorsement). KV-backed, refreshed every 6h; static fallback at /l402index.json.",
        "responses": {
          "200": {
            "description": "The external-index document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/live/l402space.json": {
      "get": {
        "operationId": "getGatewayObserved",
        "summary": "Gateway-observed source — hosts seen settling through Alby's l402.space",
        "description": "Paid API hosts observed settling through l402.space, the Universal 402 Gateway. Unlike every other source here these figures are OBSERVED SETTLEMENT rather than external probing: the gateway made the payments itself, so deliveries / payments_received is a real paid-and-got-the-goods rate and volume_usd is money that actually moved. Reliability is published only where deliveries >= 5 and always with its denominator. The gateway's own aggregate stats ride in-band — check them before reading anything into a row count. provenance: gateway-observed (a third party's observations, NOT a bitcoineconomy.ai endorsement and not our own measurement). KV-backed, refreshed every 6h; static fallback at /l402space.json.",
        "responses": {
          "200": {
            "description": "The gateway-observed document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/live/uptime.json": {
      "get": {
        "operationId": "getUptimeHistory",
        "summary": "Rolling uptime history for every probed target — recomputable, self-inclusive, Bitcoin-anchored",
        "description": "Per-target rolling uptime over the 6-hourly probe cron, including the marketplace's own surfaces (self:* rows). Recomputable, not a score: carries the raw per-run observations (runs[]), the exact formula, and explicit denominators (unprobeable observations are excluded and counted separately). Nightly anchor runs sign snapshot digests to Nostr and stamp them into Bitcoin via OpenTimestamps (records at /anchors/), making the history tamper-evident. KV-backed; static placeholder at /uptime.json until the first cron.",
        "responses": {
          "200": {
            "description": "The uptime history document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/entries/{slug}.md": {
      "get": {
        "operationId": "getEntry",
        "summary": "One clean Markdown record for a single service",
        "description": "The agent-readable Markdown route for one registry entry — the machine path (payment, auth, api_base, quickstart, mcp_endpoint) plus a link to the full verified card.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "The service slug (from directory.json entries[].slug).",
            "schema": {
              "type": "string",
              "enum": [
                "routstr",
                "ppq-ai",
                "maple",
                "lnvps",
                "bitlaunch",
                "openagents",
                "invinoveritas",
                "unhuman",
                "bitrefill",
                "mullvad",
                "boltz",
                "sideshift",
                "flashnet",
                "sideswap",
                "loop",
                "amboss",
                "rails",
                "strike",
                "river",
                "kraken",
                "coinbase"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The entry as Markdown.",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}
